.comeptiton-page-container {
  width: 100%;
}
.comeptiton-page-container > * {
  width: 100%;
}
.competition-title-container {
  height: 400px;
  background-image: url('../../assests/title-cover.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.competition-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.comeptition-name {
  color: white;
}
.competition-table {
  width: 100%;
}

.competition-table td,
.competition-table th {
  border-bottom: 1px solid #ebe6e6;
  padding: 6px;
}

.competition-table th {
  padding-top: 10px;
  padding-bottom: 10px;

  text-align: right;
  background-color: #fafafa;
  color: black;
}
.progress-bar {
  width: 100%;
  height: 20px;
  /* background-color: #ebe6e6; */
  border-radius: 10px;
  overflow: visible;
  z-index: 1000;
}
.progress-bar-container {
  margin-top: 40px;
  width: 30rem;
  color: white;
  border-radius: 10px;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.progress-bar {
  height: 20px;
  background: #8760a1;
  border-radius: 5px;
}
.progress-bar-inner {
  height: 20px;
  background: linear-gradient(135deg, red, orange 60%);
  border-radius: 5px;
  transition: width 1s;
}
.competetion-start-end-dates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.current-week-matches-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

@media (max-width: 550px) {
  .progress-bar-container {
    width: 300px;
  }
}
