.competition-table {
  width: 100%;
}

.competition-table td,
.competition-table th {
  border-bottom: 1px solid #ebe6e6;
  padding: 6px;
}

.competition-table th {
  padding-top: 10px;
  padding-bottom: 10px;

  text-align: right;
  background-color: #fafafa;
  color: black;
}
